{
  "extends": "airbnb",
  "rules": {
    "import/prefer-default-export": "off",
    "no-unused-expressions": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off",
    "react/self-closing-comp": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {"devDependencies": true}
    ]
  },
  "env": {
    "es6": true,
    "browser": true
  }
}