{
  "extends": "airbnb",
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": "off",
    "react/forbid-prop-types": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {"devDependencies": true}
    ],
    "indent": [0, 2, {"SwitchCase": 1}],
    "jsx-quotes": [2, "prefer-single"],
  },
  "env": {
    "es6": true,
    "browser": true
  }
}