.contact {
    #contact-form {
        height: 100%;
        display: flex;

        form {
            margin: 0px;
            padding: 0px;    
        }

        input {
            &:focus {
                outline: none !important;
                border: 1px solid #83D5D5;
            }

            .dark-theme & {
                background-color: var(--dark-background);
                color: var(--dark-color);
                border: 1px solid rgb(71, 98, 87);

                &:focus {
                    outline: none !important;
                    border: 1px solid rgb(185, 216, 192);
                }
            }

            width: 100%;
            padding: 12px 20px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
        }

        textarea {
            &:focus {
                outline: none !important;
                border: 1px solid #83D5D5;
            }
    
            .dark-theme & {
                background-color: var(--dark-background);
                color: var(--dark-color);
                border: 1px solid rgb(71, 98, 87);

                &:focus {
                    outline: none !important;
                    border: 1px solid rgb(185, 216, 192);
                }
            }


            height: 200px;
            width: 100%;

            padding: 12px 20px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ccc;
        }
    }

    .wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        color: #444;

        .dark-theme & {
            color: var(--dark-color);
        }
        // border: 1px solid #83D5D5;

        @include mobile {
          grid-template-columns: 100%;
        }
    
        @include tablet {
            grid-template-columns: 100%;
        }

        .box {
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
        }
    }
}