
.interests {
  
  .wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #fff;
    color: #444;

    @include mobile {
      grid-template-columns: 100%;
    }

    @include tablet {
        grid-template-columns: 100%;
    }
  }
  
  .box {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;

    // border: 1px solid #C9C6C6;

    &:nth-child(odd) {
      margin-right: 10px
    }

    &:nth-child(even) {
      margin-left: 10px;

      @include mobile {
        margin-left: 0px
      }

      @include tablet {
        margin-left: 0px
      }
    }

    .icon {
      color: $theme-color;
    }

    h2 {
      display: inline;
    }

    ul {
      padding-inline-start: 20px;

      li {
        list-style-type: none;
      }
    }

    @include mobile {
      text-align: center;
    }

    @include tablet {
      text-align: center;
    }
  }
}