body {
    font-family: $regular;
    color: $primary-font-color;
    margin: 0;
    padding: 0;

    &.dark-theme {
        background-color: var(--dark-background);
        color: var(--dark-color);
    }
}
  
html {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

h1 {
    font-size: 60px;

    span {
        font-family: $bold;
    }
}

h2 {
    font-size: 20px;
    font-family: $bold;
}

h4 {
    font-family: $bold;
}

h5 {
    font-family: $bold;
}

a {
    color: $primary-font-color;
    text-decoration: none;
    outline: none;

    .dark-theme & {
        color: rgb(247, 229, 199);
        text-decoration-color: initial;
    }
}



.bold {
    font-family: $bold;
}

.regular {
    font-family: $regular;
}

.container {
    display: flex;
    overflow: hidden;
}

button {
    all: unset;
}

.button {
    color: $theme-color;
    border: 2px solid $theme-color;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;

    .dark-theme & {
        background-color: var(--dark-background);
        color: var(--dark-color);
        border: 2px solid rgb(71, 98, 87);
    }

    &:hover {
        color: white;

        .dark-theme & {
            color: rgb(185, 216, 192);
            border: 2px solid rgb(71, 98, 87);
        }

        span {
            transform: translateY(0) scale(2);
        }
    }
    
    span {
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: $theme-color;
        transform: translateY(150%);
        border-radius: 50%;
        left: calc((var(--n) - 1) * 25%);
        transition: 0.5s;
        transition-delay: calc((var(--n) - 1) * 0.1s);
        z-index: -1;

        .dark-theme & {
            background-color: rgb(71, 98, 87);
        }

        &:nth-child(1) {
            --n: 1;
        }
        
        &:nth-child(2) {
            --n: 2;
        }

        &:nth-child(3) {
            --n: 3;
        }

        &:nth-child(4) {
            --n: 4;
        }
    }
}

.buttonBig {
    width: 4em;
    padding: 15px 50px;
} 
  
.themeToggle {
    top: 5px;
    left: 5px;
    z-index: 999;
    position: fixed;
}

.content {
    flex-basis: 100%;

    height: 100vh; 
    overflow: auto;
    position: relative;

    margin-left: 10%;
    margin-right: 15%;
        scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */

    @include mobile {
        margin-left: 10% !important;
        margin-right: 10% !important;
    }

    h1 {
        @include mobile {
            font-size: calc(3vw + 3vh);
            text-align: center;
            margin-top: 50px;
        }
    }
}

.content::-webkit-scrollbar {
    display: none;
    width: 0px; /* For Chrome, Safari, and Opera */
}
  
  
.left::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.theme-primary-colour {
    color: $theme-color;

    .dark-theme & {
        color: rgb(185, 216, 192);
    }
}
