.rightNav {
    background: $theme-color;
    min-width:300px;
    float:right;
    position: relative;
  
    ul {
  
      padding-right: 20px;
      padding-top: 20px;
  
      li {
        text-align: right;
        list-style-type:none;
        font-size: 30px;
        font-family: $bold;
      }
      
      a {
        color: $primary-font-color;
        text-decoration: none;
        opacity: 0.22;
  
        &:hover {
          opacity: 0.4;
        }
      }
  
      .activeMenuLink {
        opacity: 1;
      }
    }
  
    .imgWrappers{
      margin-left: -50px;
  
      .icons {
        
        position: absolute;
        bottom: 0;
  
        img {
          opacity: 0.3;
          height: 50px;
          width: 50px;
  
          &:hover {
            opacity: 0.4;
          }
        }
  
        .social {
          margin-left: -50px;
          display: block;
          margin-bottom: 10px;
        }
      }
  
      .bigImg {
        display: block;
        object-fit: contain;
        max-height: 90%;
        max-width: 100%;
        position: absolute;
        bottom: 0;
      }
    }
  }