.rightNav {
  .icon {
    color: $theme-color;
  }

  .iconClicked {
    color: #393939;
  }
  
  .menuIcon {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 999;
    font-size: 40px;

    background-color: Transparent;
    border: none;
    overflow: hidden;
    outline:none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);

    &:focus {
      background-color: Transparent;
      border: none;
      overflow: hidden;
      outline:none;
      box-shadow:none !important;
    }

    @include desktop {
      display: none;
    }
  }

  .menuWrapper {
    background-color: $theme-color;
    width: fit-content;
    float:right;
    position: relative;
    display: flex;
    min-width: fit-content;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    ul {
      flex: none;
      margin-right: 20px;
      padding-top: 20px;
      z-index: 999;

      li {
        text-align: right;
        list-style-type:none;
        font-size: 30px;
        font-family: $bold;
      }
      
      a {
        color: $primary-font-color;
        text-decoration: none;
        opacity: 0.22;

        &:hover {
          opacity: 0.4;
        }
      }

      .activeMenuLink {
        opacity: 1;
      }

      @include mobile {
        padding-top: 50px;
      } 
    }

    .indexImgWrapper {
      height: 90%;
      width: 100%;

      @include desktop {
        margin-left: -100px;
        position: absolute;
      }
      
    }

    .nonIndexImgWrapper {
      height: 90%;
      width: 100%;

      [class^="nonIndexImg"] {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray; /* IE 6-9 */;
        transition: all 0.2s ease;

        &:hover {
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          -o-filter: grayscale(100%);
          filter: grayscale(0%);
          filter: gray; /* IE 6-9 */;
        }
      }
    }

    .imgWrappers {
      bottom: 0;
      flex-grow: 1;

      .icons {
        position: absolute;
        bottom: 0;
        
        .social {
          display: block;
          opacity: 0.3;
          margin-left: -60px;

          &:hover {
            opacity: 0.4;
            outline: 0;
          }
        }
      }
    }

    @include mobile {
      display: none;
      width: 0px;
      position: fixed;
      z-index: 1;
      top: 0px;
      right: 0px;
      transition: all 0.5s ease 0s;
    }

    @include desktop {
      display: flex !important;
    }
  }

  @include mobile {
    min-width: 0% !important;
  }
}
