.bioBox {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  
    h1 {
      margin-bottom: 10px;

      @include mobile {
        text-align: center;
      }
    }
  
    h2 {
      margin-bottom: 20px;

      @include mobile {
        text-align: center;
      }
    }
  
    p {
      margin-bottom:20px;

      @include mobile {
        text-align: center;
      }
    }

    .highlightedWord {
      background-color: white;
      color: $theme-color;
    }
    
    .resumeButtonDiv {
      @include mobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }
  
  }
  
