.bioBox {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  
    h1 {
      margin-bottom: 10px;
    }
  
    h2 {
      margin-bottom: 20px;
    }
  
    p {
      margin-bottom:20px;
    }

    .highlightedWord {
      background-color: white;
      color: $theme-color;
    }
    
  
  }
  