.testimonials {
    .wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: #fff;
        color: #444;

        @include mobile {
            grid-template-columns: 100%;
        }

        @include tablet {
            grid-template-columns: 100%;
        }

        .box {
            padding: 20px;
            margin-bottom: 20px;

            .avatar {
                border-radius: 50%;
                float: left;
                width: 20%;
                overflow: hidden;

                @include mobile {
                    float: none;
                    margin: 0 auto;
                    width: 30%;
                }
            }

            .details {
                overflow: hidden;
                padding-left: 10px;

                .company {
                    color: $theme-color;
                    margin-top: 0px;
                    margin-bottom: 0;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #C9C6C6;
                }

                .title {
                    margin-top: 0px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #C9C6C6;
                }

                h2 {
                    margin: 5px 0px 5px 0px;
                }

                .body {
                    font-style: italic;
                    
                }

                p.body:before, p.body:after {
                    content: '"';
                    color: $theme-color;
                    // font-weight: bold;
                    font-family: AvenirNext-Italic;
                }

                @include mobile {
                    text-align: center;
                    margin-top: 10px;
                }
            }
        }
    }
}