
body {
    webkit-tap-highlight-color: #CF5E44;
    background: #fafafa url(/software/img/bg.png) left top repeat;
}





/* Overrides */

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-lg {
  padding-top: 150px;
  padding-bottom: 90px;
}

.bg-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0,0,0,0.7);
}
    
.text-center {
  text-align: center;
}

.clearfix {
    margin-top: 100px;
}


/* Home */
.home {
	background-color: #f2f6fa;
	padding-bottom: 150px;
}

.bg-img-1 {
  background: url("/software/img/bg.jpg") center;
  position: relative;
  background-size: cover;
}

.home-wrapper p#category {
  font-size: 15px;
  letter-spacing: 2px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  color: #787787;
}


.home-alt p {
  color: #eee !important;
}

.home-alt p#description {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 24px;
}

.home-alt h1 {
  color: #ffffff;
  font-size: 80px;
}

.home-wrapper .btn {
    font-weight: 500;
}

.btn-custom,.btn-custom:hover,.btn-custom:focus {
  background-color: #CF5E44;
  color: #fff !important;
  padding: 9px 20px !important;
  font-weight: 500;
  letter-spacing: 0.04em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  -webkit-transition: all 400ms ease-in-out;
     -moz-transition: all 400ms ease-in-out;
       -o-transition: all 400ms ease-in-out;
          transition: all 400ms ease-in-out;
}

.btn-custom:hover {
  background-color: #43cea2;
  color: #fff !important;
  padding: 9px 20px !important;
  font-weight: 500;
  letter-spacing: 0.04em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  -webkit-transition: all 400ms ease-in-out;
     -moz-transition: all 400ms ease-in-out;
       -o-transition: all 400ms ease-in-out;
          transition: all 400ms ease-in-out;
}

.download-btn {
    text-transform: uppercase;
}

.download-btn:hover {
    text-transform: uppercase;
}

/* Software Information */
.information-box {
	margin-top: -52px;
	background: #fff;
	box-shadow: 0 -3px 31px 0 rgba(0, 0, 0, 0.05),0 6px 20px 0 rgba(0, 0, 0, 0.02);
	padding: 0px 20px;
  border-radius: 15px;
}

.information-box  h2 {
	font-weight: 700;
	font-family: 'Josefin Sans', sans-serif;
	color: #767D8E;
    margin-top:20px;
}

.information-box p {
	margin-bottom: 20px;
	font-weight: 700;
	font-family: 'Josefin Sans', sans-serif;
}


/*Versions table */
#versions-table {
    margin-bottom: 50px;
}





ul#links li { 
  position: relative; 
  display: inline-block; 
  text-align: center;  
  /*padding: 0 5px 0 5px;*/
}

ul#links { 
  text-align:center; 
  margin-left:-40px;
  margin-top:50px;
}


a.li 
{
	width: 85px;
	color: #fff;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 22px;
	height: 22px;
	text-decoration: none;
	background: url(/software/img/social.png) left top no-repeat;
	float: left;
	padding: 0 0 0 25px;
}

a.li:hover 
{
	background: url(/software/img/social.png) left bottom no-repeat;
	color: #4875b4;
}

a.tw 
{
	width: 79px;
	color: #ffffff;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 22px;
	height: 22px;
	text-decoration: none;
	background: url(/software/img/social.png) -85px top no-repeat;
	float: left;
	padding: 0 0 0 25px;
}

a.tw:hover 
{
	background: url(/software/img/social.png) -85px bottom no-repeat;
	color: #33ccff;
}

a.so 
{
	width: 128px;
	color: #ffffff;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 22px;
	height: 22px;
	text-decoration: none;
	background: url(/software/img/social.png) -164px top no-repeat;
	float: left;
	padding: 0 0 0 25px;
}

a.so:hover 
{
	background: url(/software/img/social.png) -164px bottom no-repeat;
	color: #3b5998;
}

a.gh 
{
	width: 80px;
	color: #fff;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 22px;
	height: 22px;
	text-decoration: none;
	background: url(/software/img/social.png) -292px top no-repeat;
	float: left;
	padding: 0 0 0 25px;
}

a.gh:hover 
{
	background: url(/software/img/social.png) -292px bottom no-repeat;
	color: #3b5998;
}

.signature-container {
    text-align: center;
    margin-bottom:50px;
}

.avatar {
    padding-bottom: 10px;
}


.divider
{
	width:100%;
	height: 16px;
	background: url(/software/img/divider.png) center center no-repeat;	
}









.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085a1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085a1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}






.repo h1 {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.repo h2 {
  font-weight: bold;
  font-size: 36px;
  /*color: #CF5E44;*/
}

.repo a:link, .repo a:visited {
  text-decoration: none;
}

.repo a:hover > h2 {
  color: #CF5E44;
}

#wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}



div.header, li.repo {
  background: white;
  background: rgba(255, 255, 255, 0.7);
  -moz-box-shadow:    0 0 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow:         0 0 5px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}


div.header {
  height: 130px;
}

div.header h1, div.header p {
  margin: 10px 15px 0;
}

div.header h1 {
  margin-bottom: 10px;
}


li.repo {
  height: 250px;
}

li.repo > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}

li.repo a:hover {
  background: #efefef;
  background: rgba(0, 0, 0, 0.05);
}

li.repo h2, li.repo h3, li.repo p {
  margin: 10px 15px;
}

li.repo h2 {
  margin-bottom: 2px;
  max-width: 100%;
}

li.repo h3 {
  font-size: 11px;
  margin-top: 2px;
  margin-bottom: 15px;
  color: #999;
}

.index-subtitle{
    font-size: 20px;
}
    
@media screen and (max-width: 1000px) {
  body {
    min-width: inherit;  
  }
  
  #wrapper {
    width: 95%;
  }

  
  .grid .grid-2 {
    width: 80%;
  }
  
  .grid .grid-3 {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
  }
  
  #repos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  li.repo {
    width: 30%;
    margin-right: 0;
    display: inline-block;
    margin-left: 0;
  }
}

@media screen and (max-width: 730px) {
  li.repo {
    min-width: 49%;
  }
}

@media screen and (max-width: 530px) {
  .grid .grid-3 {
    flex-direction: column;
  }
  
  .grid .grid-1,
  .grid .grid-2 {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}












#versions-table .table {
    margin-bottom: 50px;
}
        


.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eceeef;
}

.table tbody + tbody {
  border-top: 2px solid #eceeef;
}

.table .table {
  background-color: #fff;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #eceeef;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #eceeef;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(250, 250, 250, 1.0);
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover > td,
.table-hover .table-active:hover > th {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: #dff0d8;
}

.table-hover .table-success:hover {
  background-color: #d0e9c6;
}

.table-hover .table-success:hover > td,
.table-hover .table-success:hover > th {
  background-color: #d0e9c6;
}

.table-info,
.table-info > th,
.table-info > td {
  background-color: #d9edf7;
}

.table-hover .table-info:hover {
  background-color: #c4e3f3;
}

.table-hover .table-info:hover > td,
.table-hover .table-info:hover > th {
  background-color: #c4e3f3;
}

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #fcf8e3;
}

.table-hover .table-warning:hover {
  background-color: #faf2cc;
}

.table-hover .table-warning:hover > td,
.table-hover .table-warning:hover > th {
  background-color: #faf2cc;
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f2dede;
}

.table-hover .table-danger:hover {
  background-color: #ebcccc;
}

.table-hover .table-danger:hover > td,
.table-hover .table-danger:hover > th {
  background-color: #ebcccc;
}

.thead-inverse th {
  color: #fff;
  background-color: #373a3c;
}

.thead-default th {
  color: #55595c;
  background-color: #eceeef;
}

.table-inverse {
  color: #eceeef;
  background-color: #373a3c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
  border-color: #55595c;
}

.table-inverse.table-bordered {
  border: 0;
}

.table-responsive {
  display: block;
  width: 100%;
  min-height: .01%;
  overflow-x: auto;
}

.table-reflow thead {
  float: left;
}

.table-reflow tbody {
  display: block;
  white-space: nowrap;
}

.table-reflow th,
.table-reflow td {
  border-top: 1px solid #eceeef;
  border-left: 1px solid #eceeef;
}

.table-reflow th:last-child,
.table-reflow td:last-child {
  border-right: 1px solid #eceeef;
}

.table-reflow thead:last-child tr:last-child th,
.table-reflow thead:last-child tr:last-child td,
.table-reflow tbody:last-child tr:last-child th,
.table-reflow tbody:last-child tr:last-child td,
.table-reflow tfoot:last-child tr:last-child th,
.table-reflow tfoot:last-child tr:last-child td {
  border-bottom: 1px solid #eceeef;
}

.table-reflow tr {
  float: left;
}

.table-reflow tr th,
.table-reflow tr td {
  display: block !important;
  border: 1px solid #eceeef;
}

