#testimonials {
  background: #FFE6E6;
}

#testimonialsCarousel {

    .slick-next::before, .slick-prev::before {
      color: $link-colour;

      @include mobile {
        display: none;
      }
    }

    .slick-dots li button:before {
      color: $link-colour;
      font-size: 10px;
    }

    .slick-slide {
      text-align: center;
    }

    .quote-wrapper {
      top: 0px;
      position: relative;

    .quote-box {
      background: $box-color;
      position: relative;
      margin: 15px 15px 15px 15px;

      display: flex;
      display: -webkit-flex;

      display: table;

      box-shadow: -6px 10px 11px -7px rgba(0,0,0,0.50);

      .upper_left {
        position: absolute;
        top: 10px;
        left: 10px;
      }

      .lower_right {
        bottom: 10px;
        right: 10px;
        position: absolute;
      }

      .quote.fas {
        color: $link-colour;
        font-size: 30px;
      }

      .quote-text {
        padding: 60px 40px 40px 40px;
      }

      p {
        margin-top: 0;
        margin-bottom: 0;
      }

      .quote-author {
        font-style: italic;
        color: RGB(0,0,0,0.5);
      }
    }

    .avatar {
      margin-top: -0px;
      margin-bottom: -20px;
      position: absolute;
      z-index: 10;

      margin: 0 auto;
      width: 100%;

      .profile-icon.fas {
        color: $link-colour;
        font-size: 64px;
        background-color: #fff;
        border-radius: 50%;
      }
      

      .quote.fas {
        color: $link-colour;
        font-size: 30px;
      }
    }
  }
}