#testimonials {
  background: #FFE6E6;
}

#testimonialsCarousel {
  width: 70%;
  margin: 0 auto;

  .carousel-indicators {
    bottom:-50px;

    .active {
      background-color: $link-colour;
    }

    li {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: $box-color;
    }
  }

  .carousel-inner {
    margin-bottom:50px;

    .carousel-item-right.active, .carousel-item-next {
      transform: translateX(100%);
    }

    .carousel-item-left.active, .carousel-item-prev {
      transform: translateX(-100%);
    }

    .carousel-item.active, .carousel-item-next, .carousel-item-prev {
      display: flex;
    }

    .carousel-item-right, .carousel-item-left { 
      transform: translateX(0);      
    }

    .carousel-item {
      padding: 20px 0px 20px 0px;

      .upper_left {
        position: absolute;
        top: 10px;
        left: 10px;
      }

      .lower_right {
        bottom: 10px;
        right: 10px;
        position: absolute;
      }

      .quote-text {
        margin: auto; /* Important */
        text-align: center;
        padding: 15px 40px 15px 40px;
        color: #7a7e82;
      }

      .quote-box {
        min-height: 200px;
        min-width: calc(100% - 15px);
        background: $box-color;
        position: relative;
        margin: 0px 0px 0px 15px;

        display: flex;
        display: -webkit-flex;

        box-shadow: -6px 10px 11px -7px rgba(0,0,0,0.50);

        .fas {
          color: $link-colour;
          font-size: 30px;
        }
      }
    }
  }

  .carousel-control-prev {
    left: -20%;
  }

  .carousel-control-next {
      right: -20%;
  }

  .carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$svg-link-colour}' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$svg-link-colour}' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }
}