	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/02/2016 20:26
  	*/

@font-face { 
  font-family: "Flaticon";
	src: url("../font-icon/flaticon.eot");
	src: url("../font-icon/flaticon.eot#iefix") format("embedded-opentype"),
	url("../font-icon/flaticon.woff") format("woff"),
	url("../font-icon/flaticon.ttf") format("truetype"),
	url("../font-icon/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../font-icon/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 60px;
font-style: normal;
}

.flaticon-business:before { content: "\f100"; }
.flaticon-clock:before { content: "\f101"; }
.flaticon-computer:before { content: "\f102"; }
.flaticon-cup:before { content: "\f103"; }
.flaticon-cup-1:before { content: "\f104"; }
.flaticon-drink:before { content: "\f105"; }
.flaticon-dumbbell:before { content: "\f106"; }
.flaticon-fashion:before { content: "\f107"; }
.flaticon-hand:before { content: "\f108"; }
.flaticon-ice:before { content: "\f109"; }
.flaticon-moon:before { content: "\f10a"; }
.flaticon-music:before { content: "\f10b"; }
.flaticon-music-1:before { content: "\f10c"; }
.flaticon-pen:before { content: "\f10d"; }
.flaticon-shapes:before { content: "\f10e"; }
.flaticon-sport:before { content: "\f10f"; }
.flaticon-transport:before { content: "\f110"; }
.flaticon-transport-1:before { content: "\f111"; }



    #interests-container .glyphs {
        clear: both;
    }
    
    #interests-container .glyph {
        display: inline-block;
        margin: 10px;
        text-align: center;
        vertical-align: top;
    }
    #interests-container .glyph .glyph-icon {
        padding: 5px;
        display: block;
        font-family:"Flaticon";
        font-size: 64px;
        line-height: 1;
		/*background-color: #00ff00;*/


    }
    #interests-container .glyph .glyph-icon-large:before {
		font-size: 60px;
		color: #666;
		margin-left: 0;
		padding:10px;
		background-color:#ddd;
		border-radius: 50%;
        
    }
	
	#interests-container .glyph .glyph-icon-large:hover:before {
		font-size: 60px;
		color: rgb(255,171,64);
		margin-left: 0;
		background-color:#ddd;
		border-radius: 50%;
		}
	
	#interests-container .glyph .glyph-icon:before {
		font-size: 40px;
        color: #666;
        margin-left: 0;
		padding:10px;
		
		background-color:#ddd;
		border-radius: 50%;

    }
	
	#interests-container .glyph .glyph-icon:hover:before {
		font-size: 40px;
        color: #4875b4;
		background-color:#ddd;
		border-radius: 10px;

    }
		
	.glyph .glyph-icon:before {
		font-size: 30px;
        color: #666;
        margin-left: 0;
		padding:10px;
			
    }
