body, html {
    height: 100%;
    background: #fff;
}

body {
    position: relative; 
}

#sectionWrapper {
  margin: 50px 0 50px 0;
}

#sectionWrapper .container-fluid {
  max-width: 900px;
  padding-top:30px;
  padding-bottom:30px;
}

#contact {
  background: #EEF9E9;
}

#posts {
  background: #D0DBE1;
}

#testimonials {
  background: #FFE6E6;
}

#projects {
  background: #F4F0EB;
}

#experience {
  background: #F0FCFF;
}

#about {
  padding-top:25px;
  padding-bottom:70px; 
  max-width: 900px;
}

#about h2 {
    font-size: 24px;
    text-align: left;
    padding-left: 50px;
}

#about .row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

p {
    font-size: 14px;
}

.masthead { 

    height: 80%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url("../../assets/images/landing.jpg"), linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45));
    background-blend-mode: overlay;
    background-attachment: fixed;
}


.masthead h1 {
    margin-left: 15px;
    margin-top: 80px;
}

.masthead h3 {
    margin-left: 15px;
}


#header-title {
    text-align: left;
    color: #D8D8D8;
}

#header-info {
    margin-right: 15px;
    margin-top: 80px;

    z-index: 10;  
    position: absolute;  
    right: 0;  
    text-align: left;
    color: #D8D8D8;
}

@media(max-width: 570px) {

  #header-info {
      margin-right: 15px;
      margin-top: 60%;

      z-index: 10;  
      position: absolute;  
      left: 0;  
      text-align: left;
      color: #D8D8D8;
  }

  .fa-ul {
    margin-left: 15px !important;
    margin: 0 auto;
    text-align: center;
  }

  #header-title {
    margin: 0 auto;
    text-align: center;
    color: #D8D8D8;
  }

}


#header-info a {
  color: #D8D8D8;
}

#header-info a:hover {
  color: #fff;
  text-decoration: none;
}

#header-info li{
    margin-top: 20px;
    font-size: 1.3rem;
}

#header-info li:first-child {
    margin-top:0;
    font-size: 1.3rem;
}

#header-info .fa-fw {
    margin-right: 20px;
    font-size: 1.3rem;
}




.about-container {
    background: #E9E8E8;
    box-shadow: -6px 10px 11px -7px rgba(0,0,0,0.50);
}



.avatar img {
    border-radius: 50%;
    border: 5px solid #fff;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.avatar {
    text-align: center;
    margin-top: -110px;
}

.about-text {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    color: #7a7e82;
}

.about-text a {
    color: #7a7e82;
    text-decoration: none;
    background-color: transparent;
    font-weight: bold;
}
.about-text a:hover {
    color: #3E93EB;
    text-decoration: none;
    background-color: transparent;
}

.about-title {
    padding-top: 30px;
}


.title-underline {
    float: left;
    margin-left: 50px;
}

.social-media-icon {
    width: 40px;
    margin-right: 10px;
}

.about-icons {
    text-align: left;
    margin-left: 50px;
    margin-bottom: 20px;
}

.about-icons a {
    text-decoration: none;
}

.about-icons .fas {
  padding-right: 10px;
  color: #7a7e82;
  font-size: 10px;
}

.about-icons .btn {
  float:right;
  margin-left: 10px;
}

.social-media-icon path {
    fill: red;
}

.svg {
    cursor: pointer;
    filter: invert(48%) sepia(100%) saturate(1253%) hue-rotate(186deg) brightness(94%) contrast(88%);
}






.interests-wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  color: #444;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.interests-wrapper .box {
  /*background-color: #444;*/
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
}


#interests-container {
    /*background-color: #ff00ff;*/
}


.about-buttons {
  float: left;
  padding-left: 50px;
  margin-bottom: 15px;
  bottom: 0;
}




#sticky .badge {
  margin-left: 10px;
}

#sticky .badge-secondary.unselected {
    color: #3E93EB;
    background-color: #fff;
    border: 1px solid;
}

#sticky {
  position: sticky;
  position: -webkit-sticky;
  background: #fff;
  width: 100%;
  min-height: 50px;
  top: 56px;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index:999;
  padding-bottom: 5px;
}

#sticky span.filterText {
  color: #7a7e82;
  margin-left: 10px;
  display: block;
}

#sticky span.filterText a {
    color: #7a7e82;
    text-decoration: none;
    font-weight: bold;
}
#sticky span.filterText a:hover {
    color: #3E93EB;
    text-decoration: none;
}



.main-timeline { 
  position: relative; 
  margin-top: 30px;
}

.main-timeline:before,
.main-timeline:after
{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-timeline:before {
    width: 2px;
    height: 100%;
    background: #3E93E2;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.main-timeline .timeline {
    width: 50%;
    padding-right: 30px;
    float: left;
    position: relative;
}

.main-timeline .timeline:last-child{
    margin-bottom: 0;
}

.main-timeline .timeline:after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #3E93E2;
    position: absolute;
    top: 0;
    right: -6px;
}

.main-timeline .timeline:hover:after {
    background: #3E93E2;
    transform:  scale(1.3);
}

.main-timeline .timeline-content {
    padding: 20px 40px;
    background: #e5e9ed;
    box-shadow: -6px 11px 10px -7px rgba(133,130,130,0.50);
    position: relative;
}

.main-timeline .timeline-content:hover {
}

.main-timeline .timeline-content:after {
    content: "";
    border-top: 30px solid #e5e9ed;
    border-right: 15px solid transparent;
    position: absolute;
    top: 0;
    right: -15px;

}

.main-timeline .timeline-content:hover:after {
}


.main-timeline .post {
    display: block;
    font-size: 20px;
    color: #22272c;
    padding-bottom: 8px;
    position: relative;
}

.main-timeline .timeline-content:hover {
    border-top-color: #fff;
}

.main-timeline .description {
    font-size: 14px;
    color: #7a7e82;
    line-height: 25px;
}

.main-timeline .timeline:nth-child(2n) {
    padding: 0 0 0 30px;
    margin-top: 75px;
}
.main-timeline .timeline:nth-child(2n):after {
    right: auto;
    left: -6px;

}
.main-timeline .timeline:nth-child(2n) .timeline-content:after {
    border-left: 15px solid transparent;
    border-right: none;
    left: -15px;
    right: auto;

}

.main-timeline .timeline .corner-logo {
    position: absolute;
    top: -15px;
    left: -15px;
    right: auto;
    width:50px;
    height:50px;
    border-radius: 50%;
}

.main-timeline .timeline:nth-child(2n) .corner-logo {
    position: absolute;
    top: -15px;
    right: -15px;
    left: auto;
    width:50px;
    height:50px;
    border-radius: 50%;
}


@media(max-width: 767px) {
    .main-timeline:before{
        margin: 0;
        left: 0;
    }
    .main-timeline .timeline{
        width: 100%;
        float: none;
        padding: 0 0 0 30px;
        margin-bottom: 20px;
    }
    .main-timeline .timeline:after{
        right: auto;
        left: -6px;
    }
    .main-timeline .timeline-content{
        padding: 20px;
    }
    .main-timeline .timeline-content:after{
        border-left: 15px solid transparent;
        border-right: none;
        left: -15px;
        right: auto;
    }
    .main-timeline .timeline:nth-child(2n){
        margin-top: 0;
    }

    .main-timeline .timeline .corner-logo {
        position: absolute;
        top: -15px;
        right: -15px;
        left: auto;
        width:50px;
        height:50px;
        border-radius: 50%;
    }
}





.badge-secondary {
    color: #fff;
    background-color: #3E93EB;
    border: 1px solid #3E93EB;
}

.badge {
    border-radius: 0;
}


.section-title h4 {
    padding-left: 50px;
}





.blog-grid-container .grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.blog-grid-container .grid > .blog-item {
  flex: 1 0 300px; 
  margin: 5px;

  background: #E9E8E8;
  box-shadow: -6px 10px 11px -7px rgba(0,0,0,0.50);
}

.blog-grid-container .grid > .blog-item .blog-title {
    height:300px;
    background-size: cover;
    background-position: center center;
}

.blog-grid-container .grid > .blog-item .blog-title p {
    color: #fff;
    text-align: center;
}

.blog-grid-container .grid > .blog-item .blog-sub-title-info {
    padding: 12px;
}

.blog-grid-container .grid > .blog-item .blog-sub-title-info span {
    display: inline-block;
    float: right;
    margin-left: 5px;
}

.blog-grid-container .grid > .blog-item .blog-sub-title-info p {
    display: inline-block;
    float: left;
    color: #7a7e82;
}



.blog-grid-container .grid > .blog-item .blog-sub-title p {
    padding: 12px 0px 0px 12px;
    color: #7a7e82;
}


.blog-grid-container .grid-item {
  width: 100%;
  height: auto;
}

.blog-read-more {
    text-align: right;
}

.blog-title-text {
    font-size: 20px;
}

.blog-read-more a {
    color: #7a7e82;
    font-weight: bold;
}

.blog-read-more a:hover {
    color: #3E93E2;
    font-weight: bold;
    text-decoration: none;
}

.blog-header {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.blog-header .blog-header-title {
  font-size: 30px;
}

.blog-header .blog-header-sub {
  font-size: 1rem;
}





.blog-item .content {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.blog-item .content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.blog-item .content:hover .content-overlay {
  opacity: 1;
}

.blog-item .content:hover .blog-header {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.blog-item .content-image{
    width: 100%;
    height: 100%;}

.blog-item .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.blog-item .content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.blog-item .content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.blog-item .content-details p {
  color: #fff;
  font-style: italic;
}

.blog-item .fadeIn-bottom{
  top: 80%;
}

.blog-item a {
  text-decoration: none;
}














.project-grid-container .grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  justify-content: flex-start;
  flex-flow: row wrap;
}

.project-grid-container .grid > .project-item {
  flex: 1 0 280px;
  margin: 5px;

  background: #E9E8E8;
  box-shadow: -6px 10px 11px -7px rgba(0,0,0,0.50);
  position: relative;
}

.project-grid-container .grid > .project-item img {
  width: 100%;
  height: 100%;
}

.projects-filters {
  text-align:center;
  margin-bottom: 20px;
}

.project-item .text {
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  -ms-transform: translate(-10%, -50%);
}


.project-item .main-title{
  color: #2d2d2d;
  text-align: center;
  text-transform: capitalize;
  padding: 0.7em 0;
}



.project-item .projects-container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.project-item .content {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.project-item .content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.project-item .content:hover .content-overlay{
  opacity: 1;
}

.project-item .content-image{
    width: 100%;
    height: 100%;
}

.project-item .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.project-item .content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.project-item .content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.project-item .content-details p{
  color: #fff;
  font-size: 0.8em;
}

.project-item .fadeIn-bottom{
  top: 80%;
}







@media(max-width: 570px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(100%);
  }

  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-100%);
  }

  .quote-box {
    min-height: 200px;
    min-width: calc(100% - 15px);
    background: #E9E8E8;
    position: relative;
    margin: 0px 0px 0px 15px;

    display: flex;
    display: -webkit-flex;

    box-shadow: -6px 10px 11px -7px rgba(0,0,0,0.50);
  }

  .carousel-control-prev {
    display: none;
  }

  .carousel-control-next {
    display: none;
  }

}

@media(min-width: 571px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(50%);
  }

  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-50%);
  }

  .quote-box {
    min-height: 200px;
    min-width: calc(50% - 15px);
    background: #E9E8E8;
    position: relative;
    margin: 0px 0px 0px 15px;

    display: flex;
    display: -webkit-flex;

    box-shadow: -6px 10px 11px -7px rgba(0,0,0,0.50);
  }

}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
  
}

.carousel-item {
  padding: 20px 0px 20px 0px;
}


.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #E9E8E8;
}

.carousel-indicators .active {
    background-color: #3E93E2;
}


.carousel-inner {
   margin-bottom:50px;
}

.carousel-indicators {
  bottom:-50px;
}

.carousel-control-prev {
    left: -100px;
}

.carousel-control-next {
    right: -100px;
}


.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233E93E2' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%233E93E2' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}









.carousel-item .upper_left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.carousel-item .lower_right {
  bottom: 10px;
  right: 10px;
  position: absolute;
}

.carousel-item .quote-text {
    margin: auto; /* Important */
    text-align: center;
    padding: 15px 40px 15px 40px;
    color: #7a7e82;
}

.carousel-item .quote-box .fas {
  color: #3E93E2;
  font-size: 30px;
}







#map-container 
{
  height:500px;
  width:100%;
  z-index: 0;
}

#map 
{
  height:100%;
  width:100%;
  float:left;

}




#contact-form {
  position: relative; 
  z-index: 1;


  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  width: 75%;
}

#contact-form .btn {
  border-radius: 0px;
  height:40px;
  background-color: rgba(255, 255, 255, 0.9);
}

#contact-form .btn:hover {
  border-radius: 0px;
  height:40px;
  color: #3E93EB;
  background-color: rgba(255, 255, 255, 0.9);
}



#contact-form .form-group {
    margin-bottom: 0;
}


#contact-form .floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
  background-color: rgba(255, 255, 255, 0.9);
}

#contact-form .floating-label-form-group input,
#contact-form .floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
  color: #777;
}

#contact-form .floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  color: #777;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  text-align:left;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}

#contact-form .floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}

#contact-form .floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
  padding: .375rem .75rem;
}

#contact-form .floating-label-form-group-with-focus label {
  color: #337AB7;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #3E93E2;
  border: 1px solid #337AB7;
  color: white;
}


/*Stop the autofill setting the background to yellow*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}






.btn {
  border-radius: 0px;
  height:40px;
  background-color: #3E93EB;
}


.page-footer hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1); 
  width: 50%;
}

.page-footer {
  font-size: 12px;
  margin-bottom:20px;
  color: #7a7e82;
}

.page-footer .fas {
  color: #3E93E2;
}

