#div1{
	top: 10px;
	width: 200px;
	height: 100px;
	background-color: #993333;
	border-width: 1px;
	border-style: dotted;
	border-color: black;
	padding: 10px;
	margin: 0 auto;
}

#sideBar
{		
	width:230px;
	padding-right:20px;
	position: absolute; 
	right: 10px;
	top:0px;
}

#sticker 
{
	padding:20px;
	margin:20px 0;
	background:#AAA;
	width:190px;
}

.stick 
{
	position:fixed;
	top:0px;
}

.buttonPadding
{
  margin: 5px
}

a:hover, a:visited, a:link, a:active
{
	text-decoration: none;
}

span
{
	float: left; 
}

.experienceItem
{
	
	width:40%;
	margin: 0 auto;
	margin-top: 50px;
	padding:50px; 
	opacity:0;
	background-color:lightgreen; 
}

.normalBlock
{
	width:60%;
	margin: 0 auto;
	margin-top: 50px;
	padding:50px; 
}

.experienceItemSelected
{
	-moz-box-shadow: 0 0 15px #fff;
	-webkit-box-shadow: 0 0 15px #fff;
	box-shadow: 0px 0px 15px #fff;
}
