<!DOCTYPE html>
<html lang="en">
  <head>
    <title>andysmith.me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="The portfolio of Andy Smith, a Software Developer based in the UK">
    <meta name="author" content="Andy Smith">
    <meta name="keywords" content="Andy,Smith,Software,Developer,Engineer,Programmer,Coder,designer,Java,JavaScript,portfolio,cv,PHP,MySQL,Git,Subversion">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVgsu4XofoejLg8cOnAHTTi7lh8cZLR3Q"></script>

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/stylesheets/main.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>

    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
          <script src="assets/js/{{ js_file }}.js"></script>
      {% endfor %}
    {% endif %}

  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a onclick="trackAnalytics('Top Nav Section', 'Anchor Link', 'Home');" class="navbar-brand" href="http://andysmith.me">{{ site.site-name }}</a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar" style="">
        {% if page.url == "/" %}
	        <ul class="navbar-nav mr-auto">
	          <li class="nav-item">
	            <a onclick="trackAnalytics('Top Nav Section', 'Anchor Link', 'About');" class="nav-link page-scroll" href="#about">About</a>
	          </li>
	          <li class="nav-item">
	            <a onclick="trackAnalytics('Top Nav Section', 'Anchor Link', 'Experience');" class="nav-link page-scroll" href="#experience">Experience</a>
	          </li>
	          <li class="nav-item">
	            <a onclick="trackAnalytics('Top Nav Section', 'Anchor Link', 'Projects');" class="nav-link page-scroll" href="#projects">Projects</a>
	          </li>
	          <li class="nav-item">
	            <a onclick="trackAnalytics('Top Nav Section', 'Anchor Link', 'Posts');" class="nav-link page-scroll" href="#posts">Posts</a>
	          </li>
	          <li class="nav-item">
	            <a onclick="trackAnalytics('Top Nav Section', 'Anchor Link', 'Testimonials');" class="nav-link page-scroll" href="#testimonials">Testimonials</a>
	          </li>
	          <li class="nav-item">
	            <a onclick="trackAnalytics('Top Nav Section', 'Anchor Link', 'Contact');" class="nav-link page-scroll" href="#contact">Contact</a>
	          </li>
	        </ul>
        {% endif %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a onclick="trackAnalytics('Top Nav Section', 'External Link', 'Read');" class="nav-link" href="/read">README</a>
            </li>
            <li class="nav-item">
              <a onclick="trackAnalytics('Top Nav Section', 'External Link', 'Blog');" class="nav-link" href="http://smittey.co.uk" target="_blank">Blog</a>
            </li>
          </ul>
	      </div>
    </nav>
	
    {{ content }}
 
	  <div class="page-footer text-center">
      <hr>
      Designed and made with <i class="fas fa-heart"></i> in London, {{ 'now' | date: "%Y" }}
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-74354041-1', 'auto');
      ga('send', 'pageview');
    </script>


  </body>
</html>