---
layout: default

sub-title: page.sub-title
---
<header class="header text-center text-white d-flex" style="background-image: url('{{ page.header-img }}'), linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45));">

  <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>{{ page.title }}</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5 sub-title">{{ page.sub-title }}</p>
        </div>
      </div>
  </div>

  <div class="bg-overlay"></div>
</header>

<!-- Main Content -->

{{ content }}