---
layout: default
---
 
<script>
    $(window).bind("load", function() {
       $.getScript('/js/social.js', function() {});
    });
</script>

<div id="fb-root"></div>

<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>


<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/{{ site.img }}/{{ page.post-img }}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="post-heading">
					<h1>{{ page.title }}</h1>
					<h2 class="subheading">{{ page.sub-title }}</h2>
					<span class="meta">{{ page.posted-on }}</span>
				</div>
			</div>
		</div>
	</div>
</header>
	
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 page">
			<div class="content">
				{{ content }}
				
				<div id="signature-container">
					<span id="signature-avatar">				
						<img class="avatar img-circle" style="width:100%; width:auto;" src="http://www.gravatar.com/avatar/2336ccd6a816e8582b8e9770f3eacadd?s=100"/>
					</span>
					<span id="signature-text">
						<div class="text">
							<p>By <a href="http://www.andysmith.me">Smittey</a><br/>Posted on {{ page.posted-on }}</p>
							<br/>
												
							<a href='https://ko-fi.com/A14212M' target='_blank'><img height='32' style='border:0px;height:32px; margin:5px 5px 5px 0; float:left' src='https://az743702.vo.msecnd.net/cdn/kofi2.png?v=a' border='0' alt='Buy Me a Coffee' /></a> 
							
							<div class="search">
								<form action="//smittey.us13.list-manage.com/subscribe/post?u=9aae1cacdc35a4c57db2d27ca&amp;id=e199dadb52" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
									<div class="search">
										<input type="text" name="EMAIL" id="mce-EMAIL" class="form-control input-sm" maxlength="64" placeholder="Type your email to subscribe!">
										<input type="image" class="button" name="subscribe" id="mc-embedded-subscribe" src="http://i.imgur.com/57uJR8n.gif"/>
									</div>
									<div style="position: absolute; left: -5000px;" aria-hidden="true">
										<input type="text" name="b_9aae1cacdc35a4c57db2d27ca_e199dadb52" tabindex="-1" value="">
									</div>

								</form>
							</div>
							
							<div style="clear: both;"></div>
							<a href="https://twitter.com/share" class="twitter-share-button" data-via="Smittey"></a>
							<div class="fb-share-button" data-href="http://smittey.co.uk/{{ page.url }}/" data-layout="button" data-mobile-iframe="true"></div>
							<div class="g-plus" data-action="share" data-annotation="none"></div>
						</div>
					</span>
				</div>
			</div>
			<div style="clear: both;"></div>

			<div class="divider"></div>
							
			<div class="page-navigation">
				{% if page.previous.url %}
					<a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
				{% endif %}
				{% if page.next.url %}
					<a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
				{% endif %}
				<div style="clear: both;"></div>
			</div>	

			<div id="comments">
				<div id="disqus_thread"></div>
			</div>
		</div>
	</div>
</div>



<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<script id="dsq-count-scr" src="//smittey.disqus.com/count.js" async></script>
